<%= javascript_include_tag 'delete_participant' %>
<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => @event.event_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:event_date) %>:</strong></dt>
  <dd><%= @event.event_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:summary) %>:</strong></dt>
  <dd><%= simple_format(@event.summary) %></dd>
</dl>

<% if @event.reception %>
    <%= button_to 'New', join_path, :class => 'btn btn-primary' %>
<% end %>
</br>

<p class="text-danger"><%= "現在、" + @event.participants.order("grade ASC").count.to_s + "人参加中" %></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Grade</th>
            <th>Name</th>
            <th>Comment</th>
            <% if @event.reception %>
                <th>Action</th>
            <% end %>
        </tr>
    </thead>
    
    <tbody>
        <% @event.participants.order("grade ASC").each do |participant| %>
            <tr id="participant_<%= participant.id %>">
                <td><%= participant.grade %></td>
                <td><%= participant.name %></td>
                <td><%= simple_format(participant.comment) %></td>
                <% if @event.reception %>
                    <td><%= link_to '編集', edit_participant_path(participant), class: 'btn btn-default btn-xs' %>
                        <%= link_to '取消', participant, method: :delete, id: 'participant_delete', class: 'btn btn-xs btn-danger' %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>

